@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$darkBrown: hsl(25, 47%, 15%);
$medBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$paleOrange: hsl(33, 100%, 98%);
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.flex-1 {
  flex: 1;
}
.p-4 {
  padding: 1rem;
}
.px-5 {
  padding: 1.3rem 1.25rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-20 {
  margin-top: 5rem;
}
.my-5 {
  margin: 1.25rem 0;
}

.font-bold {
  font-size: 2rem;
  font-weight: bold;
}

.my-Balance {
  font-size: 1rem !important;
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

.divider {
  border: none;
  height: 1px;
  background: #e5e7eb;
}
.card-container {
  height: 100vh;
  background-color: $paleOrange;
  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
  .card {
    width: 500px;
    .header {
      color: $cream;
      background: $softRed;
      border-radius: 10px;
    }
    .body {
      background-color: white;
      padding: 1rem 2rem 2rem;
      border-radius: 10px;
      @media screen and (max-width: 700px) {
        padding: 1rem;
      }
      .heading {
        font-size: clamp(1rem, 1.5rem, 1.8rem);
        font-weight: bold;
      }
      .bars {
        position: relative;
        height: 100px;
        .bar {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.3rem;
          transition: all 350ms ease-in-out;
          .hover {
            display: none;
            font-size: 0.7rem;
            background-color: black;
            color: white;
            padding: 0.2rem;
            border-radius: 5px;
            transition: all 350ms ease-in-out;
          }
          span:nth-of-type(2) {
            color: $medBrown;
          }
          &:hover {
            .hover {
              display: block;
            }
          }
        }
        .bar > div {
          height: 70px;
          width: 40px;
          border-radius: 5px;
          background-color: $softRed;
          @media screen and (max-width: 700px) {
            width: 30px;
          }
        }
        .mon {
          height: 40px !important;
        }
        .tue {
          height: 70px !important;
          background: $softRed;
        }
        .wed {
          height: 120px !important;
          background-color: $cyan !important;
        }
        .thu {
          height: 65px !important;
        }
        .fri {
          height: 50px !important;
        }
        .sat {
          height: 100px !important;
        }
        .sun {
          height: 55px !important;
        }
      }
      .footer {
        .total {
          h4 {
            font-size: 1rem;
            color: $medBrown;
          }
          h1 {
            font-size: 2.2rem;
            font-weight: bold;
          }
        }
        .perce {
          h2 {
            text-align: end;
            font-size: 1rem;
            font-weight: bold;
          }
          span {
            color: $medBrown;
          }
        }
      }
    }
  }
}
